/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') #fff;
}

body{
	min-height: 600px;
    padding: 100px 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}

.head{
	padding:50px 0;
}

/*----------------------------
	Styling the presentation
-----------------------------*/

#impress:not(.impress-not-supported) .step{
	opacity:0.2;
}

#impress .step{
	width:720px;
	height: 580px;
	position:relative;
	margin:0 auto;
	border:2px solid #e3e3e3;
    -webkit-box-shadow: inset 0px 0px 25px 0px #ababab;
    box-shadow: inset 0px 0px 25px 0px #ababab;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
	background: rgb(247,251,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,251,255,1) 0%, rgba(221,242,255,1) 47%, rgba(196,233,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,255,1)), color-stop(47%,rgba(221,242,255,1)), color-stop(100%,rgba(196,233,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,251,255,1) 0%,rgba(221,242,255,1) 47%,rgba(196,233,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,251,255,1) 0%,rgba(221,242,255,1) 47%,rgba(196,233,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,251,255,1) 0%,rgba(221,242,255,1) 47%,rgba(196,233,255,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(247,251,255,1) 0%,rgba(221,242,255,1) 47%,rgba(196,233,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#c4e9ff',GradientType=0 ); /* IE6-9 */

}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	top: 45px;
	font-size: 65px;
	position:absolute;
	z-index:10;
}
#impress h3{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	position:absolute;
	font-size:20px;
	z-index:10;
}

#impress p{
	font: normal 22px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
	width:620px;
	text-align:left;
}
#impress button{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
	padding:6px 20px;
	border-radius:5px;
	font-weight:bold;
	cursor:pointer;
}
#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}
.arrow:hover{
	opacity:1;
}
#arrowLeft{
	left:45px;
}
#arrowRight{
	right:45px;
	background-position:top right;
}
/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}

/*----------------------------
	Slide 0 - Start
-----------------------------*/
#impress #front{
}

#front h2{
	top: 85px;
	left: 155px;
	font-size: 65px;
	width: 400px;
}
#front h3{
	top: 180px;
	left: 125px;
	font-weight: bold;
}

#front p{
	left: 460px;
	text-align: justify;
	text-indent: 16px;
	top: 290px;
	width: 365px;
	font-size: 30px;
}

#front img{
	left: 190px;
	top: 290px;
}

/*----------------------------
	Slide 1 - animation
-----------------------------*/
#animation h2{
	text-align: center;
    width: 100%;
}

#animation p{
	font-size: 22px;
    line-height: 1.6;
    
	top: 390px;
	left: 50px;
}

#animation img{
	top: 162px;
	width: 260px;
	left: 255px;
}

/*----------------------------
	Slide 2 - transation
-----------------------------*/
#transation h2{
	left: 140px;
}
#transation p{
	left: 50px;
    text-align: justify;
    text-indent: 16px;
    
	top: 195px;
}
#transation img{
	right: 0;
    top: 30px;
}
#transation span{
	margin-left:100px;
	margin-top:15px;
}
div.exampletransitionc {
	width: 520px;
	position:absolute;
	top: 160px;
	left: 75px;;
}
div.exampletransitionc div {
	width: 100px;
	margin: 5px 0;
	padding: 5px;
	color: white;
	background-color: #ED8029;
	text-align: right;
	border-radius: 5px;
}
div.exampletransitionc:hover div {
	width: 500px;
}
div.exampletransitionc div.no {
	-webkit-transition: 3s linear;
	-moz-transition: 3s linear;
	-o-transition: 3s linear;
	-ms-transition: 3s linear;
	transition: 3s linear;
}
div.exampletransitionc div.one {
	-webkit-transition: 3s linear 1s;
	-moz-transition: 3s linear 1s;
	-o-transition: 3s linear 1s;
	-ms-transition: 3s linear 1s;
	transition: 3s linear 1s;
}
div.exampletransitionc div.two {
	-webkit-transition: 3s linear 2s;
	-moz-transition: 3s linear 2s;
	-o-transition: 3s linear 2s;
	-ms-transition: 3s linear 2s;
	transition: 3s linear 2s;
}
div.exampletransitionc div.three {
	-webkit-transition: 3s linear 3s;
	-moz-transition: 3s linear 3s;
	-o-transition: 3s linear 3s;
	-ms-transition: 3s linear 3s;
	transition: 3s linear 3s;
}
div.exampletransitionc div.five {
	-webkit-transition: 3s linear 5s;
	-moz-transition: 3s linear 5s;
	-o-transition: 3s linear 5s;
	-ms-transition: 3s linear 5s;
	transition: 3s linear 5s;
}
div.exampletransitionc div.minustwo {
	-webkit-transition: 3s linear -2s;
	-moz-transition: 3s linear -2s;
	-o-transition: 3s linear -2s;
	-ms-transition: 3s linear -2s;
	transition: 3s linear -2s;
}


/*----------------------------
	Slide 3 - transform
-----------------------------*/
#transform h2{
	top: 40px;
	width: 100%;
	text-align:center;
}
#transform p{
    top: 175px;
	left:50px;
}
div.exampletransitione {
	width: 500px;
	height: 150px;
	position:absolute;
	top:150px;
	left:50px;
}
div.exampletransitione .transition {
	display:block;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	opacity: 0.4;
	-webkit-transition: 3s linear;
	-moz-transition: 3s linear;
	-o-transition: 3s linear;
	-ms-transition: 3s linear;
	transition: 3s linear;
}
div.exampletransitione:hover .transition {
	width: 200px;
	height: 200px;
	margin-left: 400px;
	opacity: 1;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}


/*----------------------------
	Slide 5 - end
-----------------------------*/
#end h2{
	left: 20px;
	text-align: center;
	top: 105px;
	width: 100%;
	font-size: 70px;
}
#end p{
	font-size: 40px;
	left: 85px;
	text-indent: 15px;
	top: 250px;
}
#end img{
	right: 100px;
	top: 270px;
}



/**************** Draw a butterfly by CSS3 *****************/
.wing{
	position:absolute;
}
#wing01{
	top:0px;
	left:8px;
	z-index:1;
	width: 100px;
	height: 100px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 10px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	-moz-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius:50%;
	background:#faf108;
	transform: skew(-20deg, -10deg);
	-webkit-transform: skew(-20deg, -10deg);
	-moz-transform: skew(-20deg, -10deg);
}
#wing02{
	top: 70px;
	left:8px;
	z-index:2;
	width: 75px;
	height: 75px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 10px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	-moz-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius:50%;
	background:#faf108;
	transform: skew(15deg, 10deg);
	-webkit-transform: skew(15deg, 10deg);
	-moz-transform: skew(15deg, 10deg);
}

.body{
	position:absolute;
}
#body01{
	top: 35px;
	left: 0px;
	width: 15px;
	height: 140px;
	overflow:hidden;
}
#inner-body01{
	position:absolute;
	left: -489px;
	top: -185px;
	width: 500px;
	height: 500px;
	background:#faf108;
	border:1px solid #b0af9e;
	border-top-right-radius: 403px;
	border-bottom-right-radius: 636px;
}
#body02{
	top: 21px;
	left: 0px;
	width: 12px;
	height: 15px;
	overflow:hidden;
}
#inner-body02{
	position:absolute;
	left: -19px;
	top: 0px;
	width: 30px;
	height: 30px;
	background:#faf108;
	border:1px solid #b0af9e;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border:1px solid #b0af9e;
}
.eye{
	background:#767675;
	position:absolute;
	left: 4px;
	top: 35px;
	width:6px;
	height:6px;
	border-radius:6px;
}
.feeler{
	position:absolute;
	top: -15px;
	left: 4px;
	width: 32px;
	height: 40px;
	overflow:hidden;
}
.feeler-body{
	position:absolute;
	top: 0;
	left: 0;
	width:50px;
	height:50px;
	border-top-left-radius: 40px;
	border:3px solid #faf108;
}
.feeler-head{
	position:absolute;
	top: -18px;
	left: 32px;
	width: 10px;
	height: 10px;
	background:#faf108;
	border-radius: 8px;
}


/* --------------------------------------------------
		Butterfly ICON
-------------------------------------------------- */
#butterfly01{
	position:absolute;
	top: 350px;
	right: 380px;
	transform:scale(0.8, 0.8);
	-webkit-transform:scale(0.8, 0.8);
	-moz-transform:scale(0.8, 0.8);
}
#left01{
	transform-origin: 0% 0%;
	transform-style:preserve-3d;
	transform: rotateY(180deg);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform-style:preserve-3d;
	-webkit-transform: rotateY(180deg);
	-moz-transform-origin: 0% 0%;
	-moz-transform-style:preserve-3d;
	-moz-transform: rotateY(180deg);
}


/* --------------------------------------------------
		Browser support information
-------------------------------------------------- */
.browser-notice-slides{
	position:absolute;
	left:0px;
	bottom:100px;
	width:100%;
	padding:5px 0px;
}
.browser-notice-slides ul{
	float:left;
	padding-left: 100px;
}
.browser-notice-slides li{
	float:left;
	padding-right:10px;
	height: 50px;
	width: 80px;
}
.browser-notice-slides ul img{
	width: 80px;
	height: 80px;
}

/* --------------------------------------------------
		Clearfix
-------------------------------------------------- */
.clearfix:after{
	content:" ";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.clearfix{
 	display:inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
 	height:1%;
}
.clearfix{
	display:block;
}
