*{
	margin:0;
	padding:0;
}
body{
	height:100%;
	margin:0 auto;
	min-height:1500px;
	overflow:hidden;
	font-family:'Segoe UI',Arial, sans-serif;
	text-align:center;
	background: rgb(50,153,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(50,153,255,1) 0%, rgba(151,198,244,1) 31%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,153,255,1)), color-stop(31%,rgba(151,198,244,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(50,153,255,1) 0%,rgba(151,198,244,1) 31%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(50,153,255,1) 0%,rgba(151,198,244,1) 31%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(50,153,255,1) 0%,rgba(151,198,244,1) 31%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(50,153,255,1) 0%,rgba(151,198,244,1) 31%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3299ff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
.header h1{
	font-size:3em;
	color:#ffffff;
	padding:30px 0;
	text-shadow: 5px 5px 5px #807680;
	filter: dropshadow(color=#807680, offx=5, offy=5);
        
}
.wrapper{
	position:relative;
	margin:0 auto;
	min-height:1px;
	perspective:800px;
	-webkit-perspective:800px;
	-webkit-perspective-origin:0% 0%;
}

/************************************
					* butterfly *
************************************/
.left{
	-webkit-transform: rotate3d(0,1,0, 180deg);
}
.wing{
	position:absolute;
}
.body01{
	position:absolute;
	top: 35px;
	left: 0px;
	width: 15px;
	height: 150px;
	overflow:hidden;
}
.inner-body01{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 12px;
	height: 140px;
	border-right: 1px solid #B0AF9E;
	border-bottom: 1px solid #B0AF9E;
	border-bottom-right-radius: 100%;
}

.body02{
	position:absolute;
	top: 21px;
	left: 0px;
	width: 12px;
	height: 15px;
	overflow:hidden;
}
.inner-body02{
	position:absolute;
	left: -19px;
	top: 0px;
	width: 30px;
	height: 30px;
	border:1px solid #b0af9e;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}

.eye{
	background:#767675;
	position:absolute;
	left: 4px;
	top: 35px;
	width:6px;
	height:6px;
	border-radius:6px;
}
.feeler{
	position:absolute;
	top: -15px;
	left: 4px;
	width: 32px;
	height: 40px;
	overflow:hidden;
}
.feeler-body{
	position:absolute;
	top: 0;
	left: 0;
	width:50px;
	height:50px;
	border-top-left-radius: 40px;
}
.feeler-head{
	position:absolute;
	top: -18px;
	left: 32px;
	width: 10px;
	height: 10px;
	border-radius: 8px;
}

/************************************
					* butterfly01 *
************************************/
#butterfly01{
	position:absolute;
	top:150px;
	left:200px;
}
#wing01{
	top:0px;
	left:8px;
	z-index:1;
	width: 100px;
	height: 100px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 10px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius:50%;
	background:#faf108;
	-webkit-transform: skew(-20deg, -10deg);
}
#wing02{
	top: 70px;
	left:8px;
	z-index:2;
	width: 75px;
	height: 75px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 10px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius:50%;
	background:#faf108;
	-webkit-transform: skew(15deg, 10deg);
}
.body-color01{
	background:#faf108;
}
.feeler-body01{
	border:3px solid #faf108;
}

/************************************
					* butterfly01 *
************************************/
#butterfly02{
	position:absolute;
	top: 155px;
	left: 600px;
}
#wing03{
	top: 0px;
	left: 8px;
	z-index:1;
	width: 100px;
	height: 90px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 5px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius: 35%;
	background:#abfc1d;
	-webkit-transform: skew(-10deg, -30deg);
}
#wing04{
	top: 80px;
	left: 8px;
	z-index:2;
	width: 75px;
	height: 65px;
	border:1px solid #b0af9e;
	box-shadow:	3px 3px 5px 1px #4e4e4e;
	-webkit-box-shadow:	3px 3px 10px 1px #4e4e4e;
	border-radius: 35%;
	background:#abfc1d;
	-webkit-transform: skew(25deg, 5deg);
}
.body-color02{
	background:#abfc1d;
}
.feeler-body02{
	border:3px solid #abfc1d;
}
